@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace Web_Admin_Panel.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
	string POPPER = """https://unpkg.com/@popperjs/core@2/dist/umd/popper.js""";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<base href="~/" />
	<link rel="stylesheet" href="css/site.css" />
	<link rel="stylesheet" href="css/bootstrap.css"/>
	<link rel="stylesheet" href="Web Admin Panel.styles.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />

	<script src="@POPPER"></script>
	<script src="~/js/bootstrap.js"></script>
	<script src="~/js/iconify.min.js"></script>
	<script src="~/js/iconify-icon.min.js"></script>
	<script src="_framework/blazor.server.js"></script>

	<component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
	<component type="typeof(App)" render-mode="ServerPrerendered" />
</body>
</html>
