<div class="container bg-transparent fixed-top">
	<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
		<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-info text-decoration-none">
			<iconify-icon icon="mdi:heart" class="mx-3" height="50" width="50"></iconify-icon>
			<span class="header-text display-6 mx-3">Peaceteddie</span>
		</a>
		<ul class="nav nav-pills align-content-center pink-text fs-3">
			<li class="nav-item">
				<a href="/" class="nav-link text-info">
					Home
				</a>
			</li>
			<li class="nav-item">
				<a href="/about" class="nav-link text-info">
					About
				</a>
			</li>
			<li class="nav-item">
				<a href="/projects" class="nav-link text-info">
					Projects
				</a>
			</li>
		</ul>
	</header>
</div>

@code {
}
